.navbar {
    position: fixed;
    width: 100%;
    border-radius: 0 0;
}

.navbar-default {
    background-color: #2E2F45 !important;
    border: none !important;
}

    .navbar-default .navbar-toggle {
        border: none;
        margin-left: 10px;
    }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #fefefe;
        }

    .navbar-default > .container-fluid > .navbar-header > div > span {
        color: #fefefe;
        font-size: 20px;
    }

    .navbar-default > div > .container-fluid > .navbar-header > div > span {
        color: #fefefe;
        font-size: 17px;
    }

.borda-anuncio {
    border: 1.5px solid RGBA(0,0,0,.5);
    border-radius: 5px;
}

#container {
    background-color: white;
}

.btn {
    margin-top: 6px;
    background-color: #2E2F45 !important;
    color: white;
    font-size: 18pt;
}

.btn:hover {
    color:#eee;
}